<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedTabOption.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <app-colectar-elementos
    *ngIf="selectedTabOption.id === 1"
  ></app-colectar-elementos>
  <app-pendientes *ngIf="selectedTabOption.id === 2"></app-pendientes>
  <app-en-cierre *ngIf="selectedTabOption.id === 3"></app-en-cierre>
  <app-cerrados *ngIf="selectedTabOption.id === 4"></app-cerrados>
</ion-content>

<ion-tab-bar slot="bottom" [mode]="'footer'">
  <ion-tab-button
    *ngFor="let tab of tabOptions; trackBy: handleTrackBy"
    tab="{{ tab.id }}"
    (click)="handleSelectedTab(tab.id)"
  >
    <ion-icon
      [src]="tab.selected ? tab.selectedIcon : tab.defaultIcon"
    ></ion-icon>
    {{ tab.name }}
  </ion-tab-button>
</ion-tab-bar>
