<ion-tabs>
  <ion-tab-bar slot="bottom" color="withe">
    <ion-tab-button tab="home">
      <ion-icon src="assets/img/imgs2/icono_colectar_gris.svg"></ion-icon>
      Colectar
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon src="assets/img/imgs2/menu_pendientes_inactivo.svg"></ion-icon>
      Pendientes
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon src="assets/img/imgs2/menu_cierre_inactivo.svg"></ion-icon>
      En Cierre
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon src="assets/img/imgs2/menu_cerrados_inactivo.svg"></ion-icon>
      Cerrados
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--
<ion-tabs color="white" selectedIndex="0">
<ion-tab tabIcon="custom-colecatar" tabTitle="Colectar" [root]="tab"></ion-tab>
<ion-tab tabIcon="custom-pendiente" tabTitle="Pendientes" [root]="tab1"></ion-tab>
<ion-tab  tabIcon="custom-en_cierre" tabTitle="En Cierre" [root]="tab2"></ion-tab>
<ion-tab  tabIcon="custom-cerrados" tabTitle="Cerrados" [root]="tab3"></ion-tab>
</ion-tabs>
-->
